<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="mytPattern"
              value="%date{ISO8601} | %-5level{5} | %-150message | %-35(%logger{0}:%-5L) | %mdc%n%exception{full}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.apache.kafka" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>

    <root level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>